* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
} 

.logo {
    color: beige;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
    text-decoration: dotted;
}

nav a {
    text-decoration: wavy;
    font-size: 25px;
    color:bisque;
    padding: 0 3rem;
}


/* Profile */

section {
    padding-top: 4vh;
    height: 96vh;
    box-sizing:content-box;
    min-height: fit-content;
}
    

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    background: #A66D76;

}

.image_container {

    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}

.image_container img{
    border-radius: 50rem;
}

.text_container {
    align-self: center;
    text-align: center;
}

.section_text_p {
    display: flex;
    text-align: center;

}

.section_text_p1 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;

}

.text_container h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section_text_p2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer_container {
    position: absolute;
    bottom: 0%;
    right: 42%;    
    border-radius: 50rem;
    background-color: beige;
   
}

.footer_container p {
    font-size: 50px;
    margin: 10rem;
}

/* About */

.about_image_container {

    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}

.about_image_container img{
    border-radius: 50rem;
}