* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;}

html {
  scroll-behavior: smooth;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a66d76;
}

.logo {
  color: beige;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: dotted;
}

nav a {
  text-decoration: wavy;
  font-size: 25px;
  color: bisque;
  padding: 0 3rem;
}

/* Profile */

section {
  box-sizing: content-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 70vh;
  background: linear-gradient(#a66d76 80%, black 20%);
}

.imageContainer {
  display: flex;
  height: 400px;
  width: 350px;
  margin: auto 0;
}

.imageContainer img {
  border-radius: 50rem;
}

.textContainer {
  align-self: center;
  text-align: center;
}

.textContainer h1 {

  font-family: Playfair Display;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.section_text_p {
  font-family: fangsong;
  display: flex;
  text-align: center;
}

.section_text_p1 {
  font-family: fangsong;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem; 
}

.sectionTextp2 {
  font-family: fangsong;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Scroll_Down {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(black 40%, #fff6f6 50%);
}

.circle {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: #aedefc;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.Scroll_Down p {
  text-align: center;
  font-size: 20px;
}

/* About */

.navAboutme {
  position: static;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff6f6;
}

.logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 2rem;
  text-decoration: dotted;
}

nav a {
  text-decoration: wavy;
  font-size: 25px;
  color: black;
  padding: 0 3rem;
}

section {
  box-sizing: content-box;
  min-height: fit-content;
}

#About_Page {
  height: 400px;
}

#About {
  display: flex;
  gap: 3rem;
  background-color: #fff6f6;
  margin-bottom: 0 3rem;
}

.about_text_container {
  align-self: center;
  text-align: center;
  margin: 0 3rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.about_text_container h1 {
  font-size: 7rem;
  text-align: left;
  margin-bottom: 1rem;
}

.about_text_p1 {
  text-align: justify;
  font-family: fangsong;
  font-size: 25px;
  margin-bottom: 2rem;
}

.about_image_container {
  display: flex;
  justify-content: center;
  width: 450px;
}

.about_image_container img {
  border-radius: 10rem;
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.github_profile_button {
  padding: 15px 45px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aedefc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.github_profile_button a {
  text-decoration:none;
  color: white;
}

.github_profile_button:hover {
  background-color: #80a5bc
  
}

.github_profile_button:active {
  background-color: #80a5bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

.Container_Floating_1 {
  position: absolute;
  display: flex;
  left: 65%;
  bottom: -30%;
  justify-content: left;
  z-index: 10;
}

.Birthday_rectangle {
  height: 60px;
  width: 200px;
  background-color: #aedefc;
  color: white;
  border-radius: 50px;
}

.Birthday_rectangle p {
  text-align: center;
  font-size: 15px;
  padding: 1rem;
}

.Container_Floating_2 {
  position: absolute;
  display: flex;
  right: 1.5%;
  bottom: -55%;
  justify-content: right;
  z-index: 10;
}

.Filipino_rectangle {
  height: 50px;
  width: 150px;
  color: white;
  background-color: #aedefc;
  border-radius: 50px;
}

.Filipino_rectangle p {
  text-align: center;
  font-size: 15px;
  padding: 1rem;
}

.contact_container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 3rem;
}

.Contact_rectangle {
  position: absolute;
  bottom: -90%;
  height: 230px;
  width: 300px;
  background-color: #F5DD61;
  padding: 35px;
  z-index: 10;
}

.Contact_rectangle h1 {
  padding: 1px;
  text-align: center;
  font-size: 50px;
  color: black;
  font-family:  Playfair Display ;
}

.Contact_rectangle p {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font: fangsong;
  color: black;
  font-family: fangsong;
}

.RESUME_cut {
  display: flex;
  height: 12vw;  
  justify-content: right;
  background: linear-gradient(#fff6f6 85%, #a66d76 35%);
}

.RESUME_cut h1 {
  text-align: right;
  padding-top: 5rem;
  padding-right: 3rem;
  font-size: 8rem;
  color: yellow;
  letter-spacing: 10px;
}

#About_2 {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  gap: 1rem;
  background-color: #a66d76;
}

.Resume_Bg {

  display: flex;
  justify-content: right;
  padding-right: 5px;
  height: 100vw;

}

.Resume_Bg h1 {
  padding-top: 3rem;
  padding-right: 3rem;
  font-size: 8rem;
  color: yellow;
  letter-spacing: 10px;

}

.Education {
    justify-content: left;
}

.Education h1 {
  font: Impact;
  color: white;
  font-size: 80px;
  padding: 2rem;
}

.Education_Year_p1 {
  color: #fff6f6;
  font-size: 45px;
  margin-left: 80px;
  padding-top: 1rem;
}

.Education_Year_p2 {
  color: #fff6f6;
  font-family: fangsong;
  font-size: 25px;
  padding-left: 300px;
  padding-bottom: 2rem;
}

.about_3{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #a66d76;
}

.technicalSkill {
  justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 25vw;
  width: 450px;
  background-color: yellow;
}

.technicalSkill h1 {
  
  font-size: 25px;
  text-align: center;
}

.technicalSkill p {
  text-align:center;
  padding: 30px;
}


.languages {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: 25vw; 
   width: 450px;
  background-color: yellow;
}

.languages h1 {
  padding-top: 5rem;
  font-size: 25px;
  text-align: center;
}

.languages p {
  text-align:center;
  padding: 25px;
}



#gallery{
  display: flex;
  flex-direction: column;
  height: 120vh;
  gap: 3rem;
  background-color: #fff6f6;
  margin-bottom: 0 3rem;
}

.gallery-text-education h1 {

padding: 5rem;
text-align: center;
font-size: 50px;
color:#a66d76;
}

.gallery-text-education p {

  text-align: center;
  font-size: 25px;
  color:#a66d76;
  }
  

.galleryEducation {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 35rem;
}

.galleryEducation:hover {
  border: 1px solid #777;
}

.galleryEducation img{
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

#extraA {
  display: flex;
  width: 98vh;
  height: 100vh;
  justify-content: right;
  background-color: yellow;
  z-index: 10;
}

.galleryExtraA {
  
  display: flex;
  justify-content: left;
  max-width: 25rem;
  margin: 0 auto;
  padding: 10px;
}

.ExtraA-scroll-container  {
  display: flex;
  aspect-ratio: 9/16;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}

.ExtraA-scroll-container img{
  flex: 1 0 100%;
  scroll-snap-align: start ;
  object-fit: cover;
}






