* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;}

html {
  scroll-behavior: smooth;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a66d76;
}

.logo img{
  height: 100px;
  width: 100px;
  padding: 10px;
}

.logoColored img{
  height: 100px;
  width: 100px;
 padding: 10px;
}


nav a {
  text-decoration: wavy;
  font-size: 25px;
  padding: 0 3rem;
}

nav a:hover{
  text-decoration: wavy;
  font-size: 30px;
  color: bisque;

  
}

/* Profile */

section {
  box-sizing: content-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 70vh;
  background: linear-gradient(#a66d76 80%, black 20%);
}

.imageContainer {
  display: flex;
  height: 400px;
  width: 350px;
  margin: auto 0;
}

.imageContainer img {
  border-radius: 50rem;
}

.textContainer {
  align-self: center;
  text-align: center;
}

.textContainer h1 {

  font-family: Playfair Display;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.section_text_p {
  font-family: fangsong;
  display: flex;
  text-align: center;
}

.section_text_p1 {
  font-family: fangsong;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 5rem; 
}

.sectionTextp2 {
  font-family: fangsong;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Scroll_Down {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(black 40%, #fff6f6 50%);
}
.Scroll_Down a{
  text-decoration: none;
  color: black;
}

.circle {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: #aedefc;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

}

.Scroll_Down p {
  text-align: center;
  font-size: 20px;
 

}

/* About */

.navAboutme {
  position: static;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff6f6;
}

.logo {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 2rem;
  text-decoration: dotted;
}

nav a {
  text-decoration: wavy;
  font-size: 25px;
  color: black;
  padding: 0 3rem;
}

#aboutPage {
  height: 95vw;
  background-color: #a66d76;
}

#About {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  background: linear-gradient(#fff6f6 70%, #a66d76 100%);
}

.about_text_container {
  align-self: center;
  text-align: center;
  margin: 0 3rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.about_text_container h1 {
  font-size: 7rem;
  text-align: left;
  margin-bottom: 1rem;
}

.about_text_p1 {
  text-align: justify;
  font-family: fangsong;
  font-size: 25px;
  margin-bottom: 2rem;
}

.about_image_container {
  display: flex;
  justify-content: center;
  width: 450px;
}

.about_image_container img {
  border-radius: 10rem;
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.github_profile_button {
  padding: 15px 45px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FAA300;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.github_profile_button a {
  text-decoration:none;
  color: white;
}

.github_profile_button:hover {
  background-color: #ac7611
  
}

.github_profile_button:active {
  background-color: #ac7611;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

.Container_Floating_1 {
  position: absolute;
  display: flex;
  left: 65%;
  bottom: -30%;
  justify-content: left;
  z-index: 10;
}

.Birthday_rectangle {
  height: 60px;
  width: 250px;
  background-color: #aedefc;
  color: white;
  border-radius: 50px;
}

.Birthday_rectangle p {
  text-align: center;
  font-size: 20px;
  padding: 1rem;
}

.Container_Floating_2 {
  position: absolute;
  display: flex;
  right: 0%;
  bottom: -55%;
  justify-content: right;
  z-index: 10;
}

.Filipino_rectangle {
  height: 50px;
  width: 200px;
  color: white;
  background-color: #aedefc;
  border-radius: 50px;
}

.Filipino_rectangle p {
  text-align: center;
  font-size: 20px;
  padding: 1rem;
}

.contact_container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 3rem;
}

.Contact_rectangle {
  position: absolute;
  bottom: -90%;
  height: 230px;
  width: 300px;
  background-color: black;
  padding: 35px;
  z-index: 10;
}

.Contact_rectangle h1 {
  padding: 1px;
  text-align: center;
  font-size: 50px;
  color: white;
  font-family:  Playfair Display ;
}

.Contact_rectangle p {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font: fangsong;
  color: white;
  font-family: fangsong;
}

.RESUME_cut {
  display: flex;
  height: 12vw;  
  padding-top:2rem;
  justify-content: right;
  background-color: #a66d76;
}

.gallery_cut {
  height: 40vw;  
  background: linear-gradient(black 60%, #fff6f6 70%);

}

.RESUME_cut h1 {
  text-align: right;
  padding-right: 3rem;
  font-size: 8rem;
  color: #F5DD61;
  letter-spacing: 10px;
}

#About_2 {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  gap: 1rem;
  background-color: #a66d76;
}

.Resume_Bg {

  display: flex;
  justify-content: right;
  padding-right: 5px;
  height: 100vw;

}

.Resume_Bg h1 {
  padding-right: 3rem;
  font-size: 8rem;
  text-shadow: 2px 2px 2px #F5DD61;
  color: black;
  letter-spacing: 10px;

}

.Education {
    justify-content: center;
  
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.Year {
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.Education h1 {
  
  color: #F5DD61;
  font-size: 80px;
  padding: 3rem;
}


.Education_Year_p1 {
  color: #fff6f6;
  font-size: 35px;
  padding-left: 50px;
}

.Education_Year_p2 {
  color: #fff6f6;
  font-family: fangsong;
  font-size: 25px;
  padding-left: 20rem;

}

.Education_Year_p3 {
  color: #fff6f6;
  font-family: Playfair Display;
  font-weight: 700;
  padding-left:45px;
  font-size: 45px;
}

.about_3{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(#a66d76 40%, black 50%);
}

.technicalSkill {
  justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 25vw;
  width: 450px;
  background-color: #F5DD61;
}

.context {
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: 700px;
}

.technicalSkill h1 {
  font-family: Impact;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.technicalSkill p {
  font-family: fangsong;
  text-align:center;
  font-size: 20px;;
  padding: 15px;
}


.languages {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: 25vw; 
  width: 450px;
  background-color: #F5DD61;
}

.languages h1 {
  padding-top: 5rem;
  font-size: 25px;
  text-align: center;
  font-family: Impact;
  letter-spacing: 1px;

}

.languages p {
  text-align:center;
  font-size: 25px;
  padding: 20px;
  font-family: fangsong;

}



#gallery{
  display: flex;
  flex-direction: column;
  height: 80vw;
  gap: 3rem;
  background-color: #fff6f6;
  margin-bottom: 0 3rem;
}

.navGallery {
  position: static;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff6f6;
}
.gallery-text-education h1 {

padding: 5rem;
text-align: center;
font-size: 50px;
color: black;
}

.gallery-text-education p {

  text-align: center;
  font-size: 25px;
  color: black;
  }
  

.galleryEducation {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 25rem;
  height: 25rem;
}

.galleryEducation:hover {
  border: 1px solid #777;
}

.galleryEducation img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.navExtra_a {
  position: static;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a66d76;
}

.extraA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a66d76;
}

.extraA-text-container {
  margin: 1rem;
}

.hobbies-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hobbies-containers p{
  font-size: 25px;
  margin:3rem;
  font-family:Impact;
  text-align: center;
  border-radius: 25px;
  background-color: #aedefc;
}
.extraA-text-container h1{
  
  padding: 2rem;
  text-align: center;
  font-size: 50px;
  font-family: Impact;
  color: white;
  letter-spacing: 4px;
}

.extraA-text-container p {
  padding: 2rem;
  text-align: center;
  font-size: 35px;
  font-family: Playfir Display;
  background-color: #F5DD61;
  border-radius: 25px;
}


.galleryExtraA {

  display: flex;
  justify-content: left;
  max-width: 25rem;
  padding: 10px;
}

.ExtraA-scroll-container  {
  display: flex;
  aspect-ratio: 9/16;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}


.ExtraA-scroll-container img{
  flex: 1 0 100%;
  scroll-snap-align: start ;
  object-fit: cover;
}













